@use "../../../style/var.scss";

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes previewFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}

.main {
    .description {
        color: var.$color-second;
    }
    animation: fadeIn 1s;
    .preview-box{
        animation: previewFadeIn 1s;
        background-color: black;
        opacity: 0.8;
        z-index: 1000;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
    }
    .preview-img {
        animation: fadeIn 1s;
        z-index: 10000;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        max-width: 80vw;
        max-height: 80vh;
    }
    .imgs{
        .img-box {
            position: relative;
            display: inline-block;
            padding: 1rem;
            max-width: 100%;
            background-color: var.$color-forth;
            .img {
                display: inline-block;
                margin: 0.5rem;
                max-width: 200px;
                box-shadow: 7px 9px 15px -10px #777777;
            }
            .dialog-img {
                img {
                    width: 30vw;
                }
            }
        }
        @media screen and (max-width: 960px){
            .img-box{
                display: grid;
                background-color: block;
                max-width: 140px;
                .img {
                    display: inline-block;
                    margin: 0.5rem;
                    max-width: 130px;
                    box-shadow: 7px 9px 15px -10px #777777;
                    border-radius: 10px;
                }
            }
        }
    }
}