@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main {
    animation: fadeIn 1s;
    .imgs{
        .img-list {
            display: inline-block;
            padding: 1rem;
            .thumbnail {
                display: inline-block;
                margin: 0.5rem;
                width: 200px;
                height: 200px;
                object-fit: cover;
                box-shadow: 7px 9px 15px -10px #777777;
                border-radius: 10px;
            }
            .dialog-img {
                img {
                    width: 30vw;
                }
            }
        }
    }
}